* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    z-index: 999;
    height: 60px;
}

.product-list-container {
    position: absolute;
    top: calc(8%);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}


.icons {
    display: flex;
    align-items: center;
}

.cart-icon,
.add-icon {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}


.product-card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h5 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 16px;
    margin-bottom: 5px;
}

.product-card button {
    margin-top: 10px;
}

.form {
    margin-bottom: 20px;
}

.modal-title{
    color: black;
    font-size: 21px;
    font-weight:500 ;
}

label {
    font-weight: 400;
    font-size:18px;
    color: black;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color:transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {  
    background-color:transparent;
} 

.add-product {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
  }
  .add-product:hover {
     background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
  }


.custom-card {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border:2px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px;
}


.product-card {
    margin-bottom: 20px;
}

.cart-icon {
    font-size: 24px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}

.cart-counter {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
